.body {
    display: flex;
    background-color: #f1f1f1;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 30px;
    gap: 5px;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
}

.searchGroup{
    max-width: 800px;
    display: flex;
    align-items: center;
    gap: 3px;
    margin-bottom: 10px;
    width: 100%;

}

.containerEspacosDisponiveis{
    display: flex;
    height: 100%;
    width: 100%;
    margin-left: 50px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
}

.containerCardsEspacosDisponiveis{
    width: 100%;
    flex-wrap: wrap;
    gap: 16px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #f1f1f1;
}

.containerSemEspacosDisponiveis{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
