.card{
    display: flex;
    position: inherit;
    align-items: center;
    flex-direction: row; 
    width: 100%;
}


.containerCardInfos{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    
}

.information {
    display: flex;
    font-size: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.caption {
    color: #003366;
    font-weight: bold;
}